<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>¡Oh no!</h1>
        <p>No pudimos encontrar información sobre "{{mensaje}}" en <br> nuestra Pokédex.</p>
        <span>Pokemon no encontrado</span>
        <p>Tal vez este Pokémon aún no ha sido descubierto, o quizás has escrito mal su nombre.</p>
        <a href="/">Volver a la pokedex</a>
    </div>
</body>
</html>